<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="https://logging.apache.org/xml/ns"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="
                   https://logging.apache.org/xml/ns
                   https://logging.apache.org/xml/ns/log4j-config-2.xsd">
    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="%level %style{*%c{1}:}{blue} %m%n"/>
        </Console>
        <Console name="TRACE">
            <PatternLayout pattern="%style{%level *%c{1}:}{magenta} %m%n"/>
        </Console>
        <Console name="ERROR">
            <PatternLayout pattern="%style{%level *%c{1}:}{red} %m%n"/>
        </Console>
        <Console name="FRAMEWORKS">
            <PatternLayout pattern="%level %style{[%d{HH:mm:ss}] Framework:}{#CAF75F} %m%n"/>
        </Console>
        <Console name="CONFIG">
            <PatternLayout pattern="%level %style{[%d{HH:mm:ss}] ConfigurationClass:}{#CAF75F} %m%n"/>
        </Console>
        <Console name="CONTROLLER">
            <PatternLayout pattern="%level %style{*%c{1}:}{red} %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO"> <!-- Logs de frameworks(fiz principalmente pros do spring) -->
            <AppenderRef ref="FRAMEWORKS"/>
        </Root>

        <Logger name="starterpackage" level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE" level="DEBUG"/>
            <AppenderRef ref="TRACE">
                <LevelMatchFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            </AppenderRef>
            <AppenderRef ref="ERROR">
                <LevelMatchFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </AppenderRef>
        </Logger>
        <Logger name="com.shelfseek.ConfigurationClass" additivity="false" level="ALL" ><!--TODO:Esse e o de baixo, atualmente é copiado do shelfseek-->
            <AppenderRef ref="CONFIG"/>
        </Logger>
        <Logger name="com.shelfseek.controllers" additivity="false" level="ALL" >
            <AppenderRef ref="CONTROLLER"/>
        </Logger>
    </Loggers>

</Configuration>